# Build directories
build/
Build/
bin/
out/
lib/

# VSCode specific
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# Prerequisites
*.d

# Compiled Object files
*.o
*.obj

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Executables
*.exe
*.out
*.app

# CMake
cmake-*/
# CMakeFiles/
# CMakeCache.txt
# cmake_install.cmake

# Local temporary folders
tmp/